<head>
  <title>Login to your Account</title>
</head>
<main>
  <h1>Login</h1>
  <form class="registerlogin" action="/auth/login" method="POST">
    <input type="text" id="username" name="username" placeholder="Select Username" required />
    <input type="password" id="password" name="password" placeholder="Choose Password" ="password" required />
    <span class="login-buttons">
      <button type="submit">Login</button>
    </span>
  </form>
  <a href="/auth/github">
    <button id="github-button" type="submit">Google</button>
  </a>
</main>