<head>
  <title>Register now</title>
</head>
<main>
  <h1>Register</h1>
  <form class="registerlogin" action="/auth/register" method="POST">
    <input type="text" id="username" name="username" placeholder="Select Username" required />
    <input type="password" id="password" name="password" placeholder="Choose Password" ="password" required />
    <input type="password" id="password" name="confirm" placeholder="Confirm Password" ="password" required />
    <button type="submit">Register</button>
  </form>
</main>