<main>
    <h1>{{message}}</h1>
    <img src='/images/fourofour.png' alt="404" height="300px" width="300px">
    <h2>{{error.status}}</h2>
    <p>
        Please check the URL before entering!
    </p>
</main>
