<header>
    <div class="nav-bar">
        <div class="app-logo">NewSite</div>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/">register</a></li>
                <li><a href="/">login</a></li>
                <li><a href="/">add</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div class="news-view"></div>
</main>

<footer>
    
</footer>