<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>News App</title>
</head>
<header>
    <div class="nav-bar">
        <div class="app-logo">NewSite</div>
        <nav>
            <ul>
                <a href="/"><li>home</li></a>
                <a href="/auth/register"><li>register</li></a>
                <a href="/auth/login"><li>login</li></a>
                <a href="/news/add"><li>add</li></a>
            </ul>
        </nav>
    </div>
</header>

<body>
  {{{body}}}
</body>

<footer>
  Copyright &copy; 2024 | <a href="/">NewsSite</a> | All Rights Reserved
</footer>

</html>
