<head>
  <title>Add News</title>
</head>
<main>
  <h1>Add News</h1>
  <form action="/news/add" method="POST">
    <input type="text" id="title" name="title" placeholder="Enter Title" required>
    <textarea id="content" placeholder="Enter Content" name="content" rows="1" required></textarea>
    <input type="text" id="author" placeholder="Author Name" name="author" required>
    <input type="text" id="weblink" placeholder="News Link" name="weblink" required>
    <button type="submit">Add</button>
  </form>
</main>