<main>
  <h1>Let's Read!</h1>
  <ul class="news-view">
    {{#each news}}
      <li class="news">
        <img src="images/notfound.jpg">
        <div class="news-content">
          <h2 class="news-title">{{this.title}}</h2>
          <p class="news-description">{{this.content}}...</p>
          <small class="news-author">By {{this.author}}</small>
          <a href={{this.weblink}}><button class="news-button" type="submit">Read</button></a>
        </div>
      </li>
    {{/each}}
  </ul>
</main>